@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
    padding: none;
    gap: 5%;
}
.Durotimi{
    display: flex;
    font-weight: bold;
    font-size: x-large;
    color: #07330be8;
    left: 40%;
}
.links{
    display: flex;
    align-items: center;
    color: #032907e8;
    font-size: small;
    gap: 35px;
} 
a{
    color: #0b4c12e8;
    text-decoration: none;
    
}  
.hero{
    display: flex;
    max-width: 70%;
    margin: 30px auto;
    padding: 15px;
    justify-content: space-evenly;

}
.heading{
    font-size: 3.5rem;
    color:#085c11E8;
}
.rentnow, .rentplace{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    margin-top: 10px;
}
.rentnow{
    background-color: #085c11E8;
    color: white;
}
.rentplace{
    background-color: white;
    color: #085c11E8;
    border: #085c11E8 1px solid;
}
.description{
    margin:15px 0;
    font-family:"poppins",sans-serif;
    font-size: small;
}